@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    scroll-behavior: smooth;
    font-family: 'Be Vietnam Pro', sans-serif;
}
#wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.container{
    width: 85%;
    margin: 0 auto;
}
.navbar{
    background: linear-gradient(to right,#f87f7f 0%,#ff3333 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}
.logo{
    width: 4rem;
}
.logo-container{
    display: flex;
    justify-content: baseline;
    align-items: center;
}
.logo-text{
    font-size:1.563rem;
    margin-left:-1.0rem;

}
.nav-items{
    display: flex;
    gap: 2rem;
    padding: 0 4em;
}
.nav-items div{
    cursor: pointer;
    font-weight: 500;
    font-size: 1.25rem;
    font-family: 'Be Vietnam Pro', sans-serif;
}
.nav-items div:hover{
    transition: 0.8s ;
    font-weight: bold;
}
.nav-items div a{
    color: black;
}
a{
    text-decoration: none;
}

.forDiv{
    position: relative;
    z-index: 2;
}

.underline{
    position: absolute;
    bottom: 0%;
    z-index: 1;
    width: 100%;
    height: 3px;
    /* background-color: rgb(226, 102, 102); */
    background-color: #1f1f1f;
    display: none;
    transition: all 200ms;
    border-radius: 39px;
}
.forDiv:hover .underline{
    display: block;
}

.hero-section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.313rem;
    margin: 0.25rem auto;
    margin-top: 4rem;
    padding: 0 1rem;
    padding-bottom:8rem ;
}
.faded-text{
    user-select: none;
    font-size:5rem;
    color: rgb(231, 231, 231);
    bottom: -16%;
    left: 0%;
    font-weight: bold;
    transition: all 3s;
    font-family: 'Be Vietnam Pro', sans-serif;
}
.hero-section-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}
.hero-section-heading{
    font-size:2.188rem;
    color: #343d68;
    font-weight: 500;
    font-family: 'Be Vietnam Pro', sans-serif;
}
.role{
    color: #4e45d5 ;
    font-weight: 800;
}
.hero-section-sub-heading{
    font-size: 2.813rem;
    line-height: 2.813rem;
}
.hero-section-description{
    margin-top: 1rem;
    font-size: 1.1rem;
    width: 70%;
    font-weight: 500 ;
}
.btn-pink{
    color: white;
    background-color: rgb(226, 102, 102);
    font-family: 'Be Vietnam Pro', sans-serif;
    padding: 0.8rem 2.3rem;
    cursor: pointer;
    /* height: 39px;
    width: 135px; */
    font-size: 1.125rem;
    box-shadow: 0.313rem 0.313rem 0.438rem 0rem #0000003f;
    transition: all 0.5s ;
    font-weight: 800;
    position: relative;
    border: solid 0.188rem transparent;
    z-index: 1;
    width: fit-content;
}
.btn-pink:hover{
    color: black;
    border: solid 0.188rem rgb(226, 102, 102);
}
.btn-pink::before{
    content: "";
    position: absolute;
    background-color: white;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 1s;
    z-index: -1;
}
.btn-pink:hover::before{
    transform: scaleX(1);
}
.download-btn{
    color: white;
}
.hero-section-right{
    position: relative;
}
.absolute{
    position: absolute;
}
.user-image{
    position: relative;
    padding: 2.5rem;
    filter: grayscale(1);
    transition:all 1s;
    animation: sclImg 5s linear infinite;
}
.user-image img{
    z-index: -9;
}
@keyframes sclImg {
    0%{
        filter: grayscale(0);
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
        filter: grayscale(1);
        box-shadow: 3px 3px 10px black;
    }
    100%{
        transform: scale(1);
        filter: grayscale(0);
    }
}
.icon-dots{
    z-index: 9;
    bottom: -1rem;
    right: 0;
    animation: dotsAnimation 5s infinite;
}
@keyframes dotsAnimation {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0px);
    }
}
.icon-cube{
    z-index: 9;
    top: -0.8em;
    right: 1em;
    animation: cubeAnimation 3s infinite;
}
@keyframes cubeAnimation {
    0%{
        transform: translateY(0px)  rotateY(0deg);
    }
    50%{
        transform: translateY(-12px) rotateY(180deg);
    }
    100%{
        transform: translateY(0px) rotateY(360deg);
    }
    
}
.icon-circle{
    z-index: 9;
    bottom: -1rem;
    left: 0;
    animation: circleAnimation 6s linear infinite;
}
@keyframes circleAnimation {
    50%{
        transform: translateY(-30px);
    }
    /* 50%{
        left: 5%;
        bottom: 10%;
    } */
}
.icon-zigzag{
    z-index: 9;
    top: 1.5em;
    left: -0.3em;
    animation: zigzagAnimation 5s ease-in infinite;
}
@keyframes zigzagAnimation {
    50%{
        transform: translateY(-30px);
    }
    /* 50%{
        top:5%;
        left:2% ;
    } */
}
.icon-plus{
    z-index: 9;
    top: 1.5em;
    /* left: 11.5em; */
    left: 50%;
    animation: plusAnimation 5s ease-in infinite;
}
@keyframes plusAnimation {
    50%{
        transform: translateY(-40px);
    }
}
.project-section{
    background-color: rgb(231, 231, 231);
    margin-top: 4rem;
}
.page-header{
    color: #e84949;
    text-align: center;
    font-size: 5.625rem;
    padding-top: 1.875rem;
}
.project-container{
    max-width: 85%;
    margin: 0 auto;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    gap: 7.5rem;
}
.project-card{
    width: 85%;
    height: 34.375em;
    background-image: url(./images/projects/Project1.png);
    background-size: cover;
    /* background-repeat: no-repeat; */
    position: relative;
    box-shadow: 0rem 0rem 2.5rem #1f1f1f;
}
.project-card::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #1f1f1f9a;
    /* transform: scaleX(1); */
    z-index: 0;
}
.project-card::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(45deg ,#343d68,#343d68be,#343d687c);
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.4s;
    z-index: 1;
}
.project-card:hover::before{
    transform: scaleX(1);
}
.project-number{
    position: absolute;
    font-size: 11.5rem;
    font-weight: 600;
    color: white;
    z-index: 10;
    /* display: none; */
    opacity: 0;
}
.project-card:hover .project-number{
    /* display: block; */
    opacity: 1;
}
.project-number-right{
    right: -40px;
    top: -45px;
}
.project-number-left{
    left: -2.5rem;
    top: -2.813rem;
}
.project-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 2em;
    bottom: 20%;
    z-index:5;
    gap: 1em;
    transition: all 0.4s;
}
.project-content-left{
    left: 10%;
}
.project-content-right{
    right: 10%;
}
.project-skills-container{
    width: 60%;
    display: flex;
    gap: 0.625rem;
    flex-wrap: wrap;
}
.project-skill{
    width: 3.125rem;
}
.project-heading{
    font-size: 3.125rem;
    font-weight: bold;
    line-height: 3rem;
}
.project-subHeading{
    width: 70%;
    font-size: 1rem;
    font-style: italic;
}
.btn-group{
    display: flex;
    gap: 0.9rem;
    align-items: center;
}
.btn-project:hover{
    border: none;
}
.icon{
    cursor: pointer;
    font-size: 2rem;
    color: white;
    transition: all 0.4s;
}
.icon:hover{
    color: rgb(222, 80, 80);
}
.project-card:hover .project-content{
    transform: scale(1.1);
}
#project1{
    background-image: url(./images/projects/Project11.png);
}
#project2{
  margin-left:120px;
  background-image: url(./images/projects/Project12.png);
}
#project3{
  background-image: url(./images/projects/Project13.png);
}
#project4{
  margin-left:120px;
  background-image: url(./images/projects/Project14.png);
}
.skills-container{
    position: relative;
    display: flex;
    margin: 10rem auto;
    padding: 5rem;
    gap: 1.875rem;
}
.skill-container-left{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.skill-container-right{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    gap: 2rem;
}
.skills-logo{
    width: 90px;
    transition: all 0.5s;
}
.skills-fade-text{
    position: absolute;
    font-size: 15em;
    font-style: bold;
    color: rgb(231, 231, 231);
    bottom: -34.5%;
    right: -25%;
    user-select: none;
}
.blob-style{
    position: absolute;
    top: 15%;
    left: 20%;
    z-index: -5;
    transform: translate(-15%,-20%);
    animation: blobAnimate 3s linear infinite;
}
@keyframes blobAnimate {
    50%{
        top: 37%;
        left: 36%;
        right: -12%;
    }
}
.skills-logo:hover{
    transform: scale(1.2);
}
.skill-heading{
    color: rgb(230, 70, 70);
    font-size: 3.125rem;
    font-style: bold;
    line-height: 3.125rem;
}
.caps{
    font-size: 5.125rem;
    font-style: bolder;
}
.skill-subHeading{
    margin-top: 1rem;
    width: 85%;
    text-align: justify;
}
.skill-subHeading p{
    margin: 0.938rem 0;
}
.contactus-form-container{
    width: 100%;
    background-color: rgb(231, 231, 231);
}
.contactus-heading{
    font-size: 4.4em;
    color: #e84949;
    padding-top: 2rem;
}
.contactus-subHeading{
    font-size: 2rem;
    color: #343d68aa;
    text-transform: capitalize;
}
.contactus-form-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    width: 70%;
    margin: 2rem 5rem;
}
.formfield-container{
    width: 100%;
}
.formfield{
    width: 100%;
    height: 2.625rem;
    font-size: 1.225rem;
    padding: 0 2rem;
    border-radius: 0.313rem;
    font-weight: 500;
    border: none;
    margin-top: 1.688rem;
    box-shadow: 0.125rem 0.125rem 0.625rem #1f1f1f;
}
.formfield-textarea{
    height: auto;
    padding-top: 1rem;
}
#submit-btn{
    border: none;
    font-size: 1.4rem;
    margin: 1rem 0;
}
#submit-btn:hover{
    scale: 0.9;
}
.submit-icon{
    padding: 0 1rem;
    font-size: 1.5rem;
}
footer{
    position: relative;
    margin-top: -1rem;
    padding: 5rem;
    background-color: #343d68;
}
.footer-wrapper{
    display: flex;
    gap: 1rem;
    padding: 1.2rem;
    justify-content: space-between;
    align-items: center;
}
.footer-faded-text{
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 5em;
    color: #535d87;
    user-select: none;
} 
.link-wrapper{
    display: flex;
    gap: 1.2rem;
}
.link-wrapper div a{
    color: white;
    text-decoration: none;
    transition: all 0.6s;
}
.link-wrapper div a:hover{
    color: #e84949;
}
.icon-wrapper{
    display: flex;
    gap: 1rem;
}
.mobile-nav-btn{
    display: none;
    cursor: pointer;
}
.mobile-nav-icon{
    height: 3rem;
    width: 3rem;
}
/* .closeDiv{
    display: none;
    position: absolute;
    z-index: 11;
    top: -35px;
    right: -20px;
    width: 7.999rem;
    height: 25px;
    background-color: rgb(240, 32, 32);
} */
#hamburg{
    transition:click 300ms linear ;
}
#close{
    position: absolute;
    margin-top: -22px;
    display: none;
    right: -0.4px;
    z-index: 12;
    transition: height 300ms linear ;
}

/* MEDIA QUERIES */

@media screen and (max-width:500px){
    .hero-section{
        flex-direction:column-reverse;
        gap: 5rem;
    }
}

@media screen and (max-width:845px) and (min-width:640px){
    .hero-section-heading{
        font-size:1.8rem;
    }
    .hero-section-sub-heading{
        font-size: 1.8rem;
    }
    .hero-section-description{
        font-size: 0.8rem;
    }
    .user-image{
        padding: 1.7rem;
    }
    .project-skill{
        width: 2.125rem;
    }
    .project-heading{
        font-size: 2.125rem;
        line-height: 1rem;
    }
    .project-subHeading{
        width: 70%;
        font-size: 0.8rem;
    }
    .project-number{
        font-size: 8.5rem;
    }
    .btn-pink{
        padding: 0.4rem 1.6rem;
        font-size: 1rem;
        box-shadow: 0.213rem 0.213rem 0.338rem 0rem #0000003f;
        transition: all 0.5s ;
        font-weight: 600;
        position: relative;
        border: solid 0.128rem transparent;
        z-index: 1;
        width: fit-content;
    }
    .project-content-left{
        right: 10%;
    }
    .project-content-right{
        right: 10%;
    }
    .project-skills-container{
        width: 100%;
        gap: 3px;
    }
    .skills-logo{
        width: 40px;
        height: 40px;
    }
    .skill-container-right{
        gap: 3rem;
    }
    
}
@media screen and (max-width:639px){
    .logo{
        width: 3rem;
    }
    .logo-text{
        font-size:1.4rem;
        margin-left:-0.81rem;
    
    }
    .hero-section-left{
        gap: 3px;
    }
    .hero-section-heading{
        font-size:1.9rem;
    }
    .hero-section-sub-heading{
        font-size: 1.8rem;
    }
    .hero-section-description{
        font-size: 0.8rem;
    }
    .user-image{
        padding: 1.7rem;
    }
    .page-header{
        font-size: 3.625rem;
    }
    .project-container{
        max-width: 75%;
        margin: 0 auto;
    }
    .project-skill{
        width: 1.4rem;
    }
    .project-heading{
        font-size: 1.2rem;
        line-height: 16px;
    }
    .project-subHeading{
        width: 70%;
        font-size: 0.6rem;
    }
    .project-number{
        font-size: 4.5rem;
    }
    .btn-pink{
        padding: 0.2rem 0.7rem;
        font-size: 0.7rem;
        box-shadow: 0.11rem 0.11rem 0.23rem 0rem #0000003f;
        transition: all 0.5s ;
        font-weight: 400;
        position: relative;
        border: solid 0.1rem transparent;
        z-index: 1;
        width: fit-content;
    }
    .project-section{
        margin-top: 2px;
    }
    .project-card{
        height: 400px;
        /* width: 600px; */
    }
    .project-content-left{
        right: 10%;
    }
    .project-content-right{
        right: 10%;
    }
    .project-skills-container{
        width: 100%;
        gap: 2px;
    }
    #project2,#project4{
        margin-left: 0px;
    }
    .faded-text{
        font-size: 30px;
        bottom: -1.119%;
    }
    .skills-container{
        margin: 1rem auto;
        padding: 2rem;
        /* gap: -10px; */
    }
    .skill-container-right{
        width: 50%;
        gap: -78em;
    }
    .skills-logo{
        width: 30px;
        height: 30px;
        transition: all 0.5s;
    }
    .skill-heading{
        font-size: 2rem;
        line-height: 2.125rem;
    }
    .caps{
        font-size: 3.125rem;
    }
    .skill-subHeading{
        margin-top: 1rem;
        width: 85%;
        text-align: justify;
    }
    .skill-subHeading p{
        margin: 0.938rem 0;
        font-size: 12px;
    }
    .contactus-heading{
        font-size: 2rem;
        font-style: bolder;
    }
    .contactus-subHeading{
        font-size: 1.5rem;
        /* width: 10%; */
    }
    .formfield{
        font-weight: 400;
        height: 1.7rem;
        font-size: 0.8rem;
        padding: 0 1rem;
    }
    .formfield-textarea{
        height: auto;
        padding-top:0 1rem;
    }
    #submit-btn{
        font-size: 0.8rem;
        margin: 4px;
        padding: 4px 8px 9px 2px;   
        width: 10rem;
    }
    .footer-faded-text{
        font-size: 2em;
        color: #535d87;
        user-select: none;
    }
    .footer-wrapper{
        display: flex;
        flex-direction: column;
    }
    .mobile-nav-btn{
        display: block;
    }
    .toggle{
        position: relative;
        display: flex;
        flex-direction: column-reverse;
    }
    .nav-items{
        width: 100vw;
        height: 100%;
        display: none;
        justify-content: center;
        align-items:center ;
        text-align: center;
        flex-direction: column;  
        float: right;
        right: -21px;
        top: 20px;
        position: absolute;
        z-index: 10;
        padding: 0;
        /* background-color: rgba(230, 70, 70,0.4); */
    }
    .nav-items div{
        font-size: 1.4rem;
        line-height: 3rem;
        top: 80px;
    }
    .forDiv:hover .underline{
        display: none;
    }
}